.DS_Store

# Sublime Text 3
Package Control.cache/
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Package Control.last-run
__pycache__
.SublimeREPLHistory
oscrypto-ca-bundle.crt
*.sublime-workspace
